.landing-page-wrapper {
    background-color: $background-grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    .logo {
        margin: 0;
        color: $logo-orange;
        font-weight: 800;
        font-size: 60px;
    }

    .authentication-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-title {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 20px;
        color: $text-dark-blue;
        text-align: center;
    }

    .authentication-form form {
        display: flex;
        flex-direction: column;

        .label {
            font-size: 14px;
            font-weight: 700;
            color: $text-dark-grey;
            margin-top: 20px;
        }

        .helper-text {
            font-size: 13px;
            color: grey;
            margin-bottom: 5px;
        }

        .input {
            padding: 12px 12px;
            font-size: 16px;
            width: 280px;
            border: 2px solid $border-grey;
            border-radius: 5px;
        }

        .submit-btn {
            background-color: $button-orange;
            margin-top: 20px;
            padding: 10px;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            color: white;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: $button-orange-hover;
                transition: background-color 0.1s linear;
            }
        }

        .switch-method-btn {
            background: none;
            border: none;
            margin-top: 10px;
            color: $text-dark-grey;
            font-size: 13px;
            cursor: pointer;

            span {
                font-weight: 700;
                text-decoration: underline;
            }

            &:hover {
                color: $text-dark-grey-hover;
                transition: color 0.1s linear;
            }
        }

        .error {
            color: rgb(199, 48, 48);
            font-weight: 700;
            font-size: 14px;
            margin-top: 10px;
        }
        
    }
}