$button-orange: #E4A698;
$button-orange-hover: #df8874;

$logo-orange: #D18B7B;

$text-dark-blue: #3C3F45;
$text-dark-grey: #756E6E;
$text-dark-grey-hover: #544b4b;
$text-placeholder-grey: #C8C8C8;
$no-available-grey: #9b9b9b;

$border-grey: #DEE1E8;

$background-grey: #F9F9F9;

// Breakpoints
$min-screen-sm: 319px;
$max-screen-sm: 320px;

$min-screen-md: 767px;
$max-screen-md: 768px;

$min-screen-lg: 1199px;
$max-screen-lg: 1200px;